@page "/buttontest"

<h3>@title</h3>
<div class="form-group">
    <div class="container">
        <div class="btn-toolbar">

            <ButtonCompoment Caption="Edit Caption" Color="danger" Icon="pencil" IsSmall="false" Onclick="ChangeTitle" />
            <ButtonCompoment Caption="Deneme" Color="İnfo" Icon="pencil" IsSmall="false" Onclick="ShowConfirmation" />
        </div>
    </div>

</div>
@code {
    [CascadingParameter]
    public IModalService Modal { get; set; }

    //[Inject]
    //ModalManager modalManager { get; set; }

    private string title = "";
    private async Task ChangeTitle()
    {
        ModalManager modalManager = new ModalManager(Modal);
        await modalManager.ShowMessageAsync("Show Message", "Kayıt Silindi");
    }
    async Task ShowConfirmation()
    {
        ModalManager modalManager = new ModalManager(Modal);
        var res = await modalManager.ConfirmationAsync("Onay", "Kayıt Silinecek");
        if (res) title = "Kayıt Tamam"; else title = "Kayıt Tamamlanamadı";


    }
}
